.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 28px 0;
}

.logoLink {
  display: block;
  text-decoration: none;
}

.logo {
  width: auto;
}

.cartLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.cartCount {
  font-size: 12px;
  font-weight: 300;
  color: inherit;
}
